@media (max-width: 600px) {
  .cutting {
    display: block;
    margin-top: 0.2em;
  }
}
.description {
  padding-left: 150px;
  padding-right: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-color: white;
  .body {
    max-width: 1100px;
    display: flex;
    gap: 40px;
    position: relative;
    p {
      margin: 0px;
      &:nth-of-type(1) {
        font-size: 24px;
        gap: 4px;
        line-height: 1.3;
        color: #646464;
        span {
          margin-right: 3px;
        }
        .highlighted {
          color: #000000;
          font-weight: 500;
        }
        .mask {
          position: relative;
          overflow: hidden;
          display: inline-flex;
        }
      }
      &:nth-of-type(2) {
        font-size: 14px;
        width: 80%;
        font-weight: 400;
      }
    }
    .button {
      top: 80%;
      left: calc(100% - 250px);
      width: 150px;
      height: 150px;
      background-color: #1c1d20;
      color: white;
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      p {
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        z-index: 1;
        color: white;
      }
    }
  }
  .moreWork {
    padding: 20px;
    border-radius: 40px;
    border: 4px solid grey;
    margin-top: -50px;
  }
}

@media (max-width: 600px) {
  .description {
    padding-left: 1px;
    padding-right: 8px;
    margin-top: 52px;
    z-index: 2;
    .body {
      max-width: 89%;
      flex-direction: column;
      gap: 18px;
      p {
        &:nth-of-type(1) {
          margin-top: 20px;
          font-size: 1.4rem;
        }
        &:nth-of-type(2) {
          font-size: 1.2rem;
          margin-top: 40px;
          width: 100%;
        }
      }
      .button {
        position: relative;
        z-index: 999;
        width: 150px;
        height: 150px;
        margin-top: -70px;
        margin-left: 90px;
        font-size: 1.3rem;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1c1d20;
        color: white;
        border-radius: 50%;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.2s;
        cursor: pointer;
        p {
          font-size: 1rem;
          margin-left: 900px;
          font-weight: 400;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .moreWork {
      padding: 10px;
      border-radius: 20px;
      border-width: 2px;
      margin-top: -18px;
    }
  }
}
