.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 1rem 4rem;
  flex-wrap: wrap;
  margin-top: -5%;
}

@media (max-width: 600px) {
  .content {
    gap: 2.2rem;
    padding: 0.3rem 0.5rem;
    flex-direction: column-reverse;
  }
}
