.imageSection {
  flex: 1;
  min-width: 160px;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
  margin-top: 2rem;
}

.year {
  font-family: meoky;
  font-size: 1rem;
  margin-bottom: 0.05rem;
  display: block;
}

.image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  align-self: flex-start;
  z-index: 2;
}

.captionWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 6.5rem;
}

.caption {
  font-family: inter;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  background: linear-gradient(90deg, #000000, #b35b14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
  color: transparent;
}

.icon {
  font-size: 1.5rem;
  stroke-width: -1; /* lower = thinner */
  line-height: 1.2;
  margin-top: 1.2rem;
  transform: rotate(-180deg);
}
