.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent dark overlay */
  z-index: 999; /* Below the sidenav but above most content */
}

.button {
  position: fixed;
  right: 0px;
  margin: 20px;
  z-index: 1001;
  width: 70px;
  height: 70px;
  border: 0.01px solid #818181;
  border-radius: 50%;
  background-color: #161616;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuButton {
  position: fixed;
  top: -10px;
  right: 0px;
  margin: 20px;
  z-index: 100000;
  background: none;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: padding 0.3s ease, font-size 0.3s ease, margin 0.3s ease; /* Smooth transition for size changes */
}

.scrolledMenuButton {
  padding: 0.4rem 0.8rem; /* Smaller padding */
  font-size: 1rem; /* Smaller font size */
  margin: 10px; /* Slightly reduced margin to make it appear smaller */
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #161616;
  display: inline-block;
  vertical-align: middle;
}

.menuLabel {
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #161616;
  vertical-align: middle;
  font-size: 1.1rem;
}

.burger {
  width: 100%;
  z-index: 20;
  position: relative;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -5px;
  }

  &::before {
    top: 5px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}

.mobileHeaderContainer {
  position: fixed;
  top: 20;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding-right: 100px;
  z-index: 100000;
}
