.menu {
  height: 100vh;
  background-color: rgb(41, 41, 41);
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  z-index: 1000;
  .body {
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: 56px;
      gap: 12px;
      margin-top: 40px; /* Reduced margin */
      margin-left: 52px; /* Move nav to the right */

      .header {
        color: rgb(153, 153, 153);
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 40px;
        margin-left: -80; /* Move white line further right */
        width: 100%; /* Make the border line longer */

        position: relative;
      }
      .headerLine {
        display: block;
        width: 110%;
        height: 1.5px;
        background: rgb(153, 153, 153);
        margin-top: 42px;
        border-radius: 1px;
      }

      a {
        text-decoration: none;
        color: white;
        font-weight: 300;
      }
    }
  }
}

/* Laptop breakpoint: reduce menu height and margins */
@media (min-width: 1024px) and (max-width: 1366px) {
  .menu {
    height: 100vh;
    background-color: rgb(21, 21, 21);

    .body {
      height: 50vh;
      padding: 60px;
      
    }

    .nav {
      font-size: 44px;
      margin-top: -10px;
      margin-bottom: -20px;
      margin-left: -40px; // Move nav to the far left
      margin-right: 0px;

      .header {
        margin-bottom: 10px; // Restore some spacing
         // Move header to the far left
        width: 100%; // Line matches nav width
      }
      .headerLine {
        margin-top: 2px;
        left: 0; // Remove left offset
        width: 100%; // Line matches nav width
      }
    }
  }
}