.home-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 
    40px 60px 40px 70px 50px 60px 40px 80px;
  gap: 0;
  z-index: -1;
}


