.slidingImages {
  display: flex;
  margin-top: 13rem;
  flex-direction: column;
  gap: 3vw;
  position: relative;
 
  background-color: white;
  
  z-index: 1;

  .slider {
    display: flex;
    gap: 3vw;
    position: relative;
    width: calc(
      100% + 200px
    ); // makes row appear longer without breaking layout
    margin-left: -100px; // center adjustment
    overflow: hidden; // no horizontal scrollbar

    .project {
      flex: 0 0 28%; // slightly larger items
      height: 20vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;

        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }
  }

  .circleContainer {
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-top: 10px;

    .circle {
      height: 850%;
      width: 120%;
      left: -10%;
      border-radius: 0 0 50% 50%;
      background-color: white;
      z-index: 1;
      position: absolute;

      box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
    }
  }
}
