.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem;
  font-family: "inter";
  margin-top: -0.8rem;
}

.logo {
  font-family: meoky;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  cursor: pointer;
  p {
    margin: 0px;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .name {
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 6px;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    .Austin {
      position: relative;
      transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      z-index: 2;
    }
    .Ndoro {
      position: absolute;
      left: 100%;
      opacity: 0;
      transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1),
        opacity 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      z-index: 1;
    }
  }
  &:hover {
    .copyright {
      transform: rotate(360deg);
    }
    .name {
      .Austin {
        transform: translateX(-100%);
      }
      .Ndoro {
        transform: translateX(-100%);
        opacity: 1;
      }
    }
  }
}

.links {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 0.9rem;
  font-weight: 500;
}

.links li {
  position: relative;
  cursor: pointer;
}

.links li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -16px;
  width: 6px;
  height: 6px;
  background-color: rgb(24, 24, 24);
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease;
}

/* Show dot on hover */
.links li:hover::after {
  transform: translateX(-50%) scale(1);
}

/* Show dot on active page */
.links li.active::after {
  transform: translateX(-50%) scale(1);
}

/* When any list item is hovered, hide the active dot temporarily */
.links:hover li.active::after {
  transform: translateX(-50%) scale(0);
}

.button {
  position: relative;
  padding: 0.5rem 1.1rem;
  background-color: #222222;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactLink {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  z-index: 5;

  color: white;
}

.contact {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  border: none;
  z-index: 5;
  cursor: pointer;
  font-size: 0.8rem; /* slightly smaller font */

  /* Ensures effect stays inside button */
  z-index: 5;
  transition: background 0.1s ease-in;
}

.icon {
  font-size: 0.75rem;
  transform: rotate(-30deg);
  z-index: 5;
}

.contactContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
