.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 64px;
  margin-top: auto;
}

.footerLine {
  display: block;
  width: 98%;
  height: 0.08px;
  background: rgb(153, 153, 153);
  margin-bottom: 32px;
  border-radius: 1px;
}

.footerHeader {
  color: rgb(153, 153, 153);
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 12px;
  margin-bottom: 28px;
  margin-left: 2px;
  letter-spacing: 1px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  gap: 2px;
}

.footerLinks a {
  position: relative;
  text-decoration: none;
}

.footerLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1.5px;
  background: white;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.footerLinks a:hover::after {
  transform: scaleX(1);
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .footerLine {
    display: none;
  }
  .footer {
    margin-left: -10px;
    margin-top: 62px;
  }
  .footerLinks {
    font-size: 14px;
    gap: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footerHeader {
    font-size: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
  }
}
